<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <title>Manage user roles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
    <link href="/css/pagination.css" th:href="@{/css/pagination.css}" rel="stylesheet">
</head>
<body>
<div class="header" style="display: flex">
    <div style="width: 100%; display: flex;" class="h2">
        <a class="btn btn-light h2" th:href="@{/manage/}" data-toggle="tooltip" data-placement="bottom"
           title="Management page">
            <i class="fas fa-chevron-left"></i>
        </a>
        &nbsp;
        <span class="h2"><a class="link" th:href="@{/manage/roles}">Manage user roles</a></span>
        <div sec:authorize="hasAnyAuthority('MANAGE_ROLES:CREATE')" style="display: flex; padding-left: 20px">
            <div>
                <button type="button" class="btn btn-primary h2" data-toggle="modal" data-target="#create-user-modal"
                        title="Create new role">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="search">
        <!--        <div th:include="modal/modal-search :: fr-search-role"></div>-->
    </div>
    <div class="login-block" style="margin-left: 10px;">
        <div th:include="modal/modal-login :: fr-login"></div>
    </div>
</div>

<div class="content" sec:authorize="hasAnyAuthority('MANAGE_USERS:USE')" style="overflow-y: auto; height: 600px;">
    <table class="table table-striped" id="users-table">
        <thead>
        <tr>
            <th>Role name</th>
            <th>Role internal name</th>
            <th>Role privileges</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${roles.content}">
            <th th:text="${role.name}"></th>
            <th th:text="${role.role}"></th>
            <th>
                <span class="badge badge-info" style="margin: 5px;"
                        th:each="privilege : ${role.privileges}" th:text="${privilege.name}"
                        th:title="${privilege.name}" data-toggle="tooltip"
                      data-placement="top"></span>
            </th>
            <th><i class="fas fa-edit" title="Edit role privileges"></i></th>
            <th><i class="fas fa-trash-alt" title="Delete role"></i></th>
        </tr>
        </tbody>
    </table>
</div>

<div th:with="page=${roles}" th:include="modal/modal-pagination :: fr-pagination"></div>


<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/js/pagination-fix.js}"></script>
</body>
</html>