<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Meeting users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
<div class="header" style="display: flex">
    <div style="width: 100%; display: flex;">
        <a class="btn btn-light h1" th:href="@{/}" data-toggle="tooltip" data-placement="bottom"
           title="Main page"><i class="fas fa-chevron-left"></i></a>
        &nbsp;
        <h2>Manage users</h2>
        <div sec:authorize="hasAnyAuthority('MANAGE_USERS:USE')" style="display: flex; padding-left: 20px">
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        title="Create new user">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="login-block">
        <div th:include="modal/modal-login :: fr-login"></div>
    </div>
</div>

<div class="content" sec:authorize="hasAnyAuthority('MANAGE_USERS:USE')">
    <table class="table table-striped" id="users-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Roles</th>
            <th>Enabled</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users.content}">
            <th th:text="${user.username}"></th>
            <th th:text="${user.firstName}"></th>
            <th th:text="${user.lastName}"></th>
            <th style="max-width: 300px;">
                <span th:each="role : ${user.roles}">
                    <a th:href="|@{/manage/roles/}${role.role}|" class="badge badge-info" style="margin: 5px;">
                        <span th:text="${role.name}" th:title="${role.role}"></span>
                    </a>
                </span>
            </th>
            <th>
                <span th:if="${user.enabled}" title="Enabled">
                    <i class="fas fa-check-square" style="color:green"></i>
                </span>
                <span th:if="${!user.enabled}" title="Disabled">
                    <i class="fas fa-times" style="color:red"></i>
                </span>
            </th>
            <th>
                <i class="fas fa-edit" title="Edit user"></i>
            </th>
            <th>
                <i class="fas fa-user-shield" title="Reset user password"></i>
            </th>
            <th>
                <i class="fas fa-user-cog" title="Manage user enable ability"></i>
            </th>
        </tr>
        </tbody>
    </table>
</div>

<nav aria-label="Pagination" th:if="${users.totalPages gt 1}" style="text-align: center">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${users.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/manage/users(size=${users.size}, page=${users.number - 1})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                <i class="fas fa-chevron-left"></i>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq users.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( users.number + 1, users.totalPages > 10 + users.number ? users.number + 10 : users.totalPages, 1)}">
            <a class="page-link" th:href="@{/manage/users(size=${users.size}, page=${i-1})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${users.number + 10 < users.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${users.number + 1 eq users.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/manage/users(size=${users.size}, page=${users.number + 1})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</nav>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>