<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link href="../../static/css/custom.css" th:href="@{/static/css/custom.css}" rel="stylesheet">
</head>
<body>

<!--fixme: change to dynamically changed fragment-->


<div th:fragment="fr-create-role">
    <div id="create-role-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create-form-role" th:action="@{/manage/roles/create}" method="post">
                        <div style="display: inline-flex; width: 100%">
                            <div style="width: 300px;">
                                <div class="form-group">
                                    <div class="mb-2">
                                        <label>Public name</label>
                                        <input type="text" class="form-control"
                                               name="name"
                                               placeholder="Public name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mb-2">
                                        <label>Internal name</label>
                                        <input type="text" class="form-control" name="internalName"
                                               placeholder="Internal name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mb-2">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <div class="btn-group">
                                                    <span title="Empty" class="btn btn-danger dc-color-input-clearer"
                                                          data-original-title="Empty Field"><i class="fa fa-times"></i></span>
                                                </div>
                                            </div>
                                            <input name="color" value=""
                                                   placeholder="Badge color" class="form-control pre-input-color"
                                                   type="text"
                                                   style="width: 100px;">
                                            <div class="input-group-btn">
                                                <div class="btn-group">
                                                    <span title="Toggle color picker"
                                                          class="btn btn-primary dc-color-input-switcher"
                                                          data-original-title="Switch color picker"><i
                                                            class="fa fa-paint-brush"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="verticalHr" style="margin: 10px;"></div>
                            <div style="max-height: 300px; overflow-y: auto; width: 100%">
                                <div class="ui checkbox" th:each="privilege : ${privileges}">
                                    <input type="checkbox"
                                           th:id="|privilege-checkbox-${privilege.id}-for-new-role|"
                                           name="privileges"
                                           th:value="${privilege.getId()}">
                                    <label th:for="|privilege-checkbox-${privilege.id}-for-new-role|"
                                           th:text="${privilege.name}"
                                           data-toggle="tooltip"
                                           th:title="${privilege.description}"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="create-form-role" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="fr-edit-role">
    <div th:id="|edit-role-modal-${role.id}|" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="|edit-form-role-${role.id}|" th:action="@{/manage/roles/{id}(id=${role.id})}"
                          method="post">
                        <div th:include="modal/modal-manage-roles :: fr-role-form-content"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" th:form="|edit-form-role-${role.id}|" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="fr-role-form-content">
    <div style="display: inline-flex; width: 100%">
        <div style="width: 300px;">
            <div class="form-group">
                <div class="mb-2">
                    <label>Public name</label>
                    <input type="text" class="form-control"
                           name="name"
                           placeholder="Public name"
                           th:value="${role.name}">
                </div>
            </div>

            <div class="form-group">
                <div class="mb-2">
                    <label>Internal name</label>
                    <input type="text" class="form-control" name="internalName"
                           placeholder="Internal name"
                           th:value="${role.internalName}">
                </div>
            </div>
            <div class="form-group">
                <div class="mb-2">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <span title="Empty" class="btn btn-danger dc-color-input-clearer"
                                      data-original-title="Empty Field"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                        <input name="color" th:value="${role.color}"
                               placeholder="Badge color" class="form-control pre-input-color"
                               type="text"
                               style="width: 100px;">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <span title="Toggle color picker"
                                      class="btn btn-primary dc-color-input-switcher"
                                      data-original-title="Switch color picker">
                                    <i class="fa fa-paint-brush"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="verticalHr" style="margin: 10px;"></div>
        <div style="max-height: 300px; overflow-y: auto; width: 100%">
            <div class="ui checkbox" th:each="privilege : ${privileges}">
                <input type="checkbox"
                       th:id="|privilege-checkbox-${privilege.id}-for-role-${role.id}|"
                       name="privileges"
                       th:value="${privilege.getId()}"
                       th:checked="${role.privileges.contains(privilege)}">
                <label th:for="|privilege-checkbox-${privilege.id}-for-role-${role.id}|"
                       th:text="${privilege.name}"
                       data-toggle="tooltip"
                       th:title="${privilege.description}"></label>
            </div>
        </div>
    </div>
</div>

<div th:fragment="fr-delete-role">
    <div class="modal" tabindex="-1" role="dialog" th:id="|delete-role-modal-${role.id}|">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-check" style="display: grid;">
                        <span th:text="|Delete user role ${role.name} (${role.internalName})?|"></span>
                        <br>
                        <div class="text-muted">
                            <span>This action is permanent. Role will be deleted completely.</span>
                            <br>
                            <span>All users with this role will lose this role.</span>
                        </div>
                    </div>
                    <input type="hidden" name="_method" value="delete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" th:with="url = '/meetroom/manage/roles/' + ${role.id}"
                            th:onclick="sendDelete([[${url}]])">Delete
                    </button>
                </div>
            </div>
            <script th:inline="javascript">
                function sendDelete(url) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("DELETE", url, true);
                    xhttp.onload = function () {
                        let responseURL = xhttp.responseURL;
                        console.log("Redirecting to:", responseURL);
                        window.location.replace(responseURL);
                    };
                    xhttp.send();
                }
            </script>
        </div>
    </div>
</div>

</body>
</html>