<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link href="../../static/css/custom.css" th:href="@{/static/css/custom.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="fr-create-event">
    <div>
        <div class="form-group">
            <label for="fromDate">From</label>
            <input type="datetime-local" id="fromDate" name="fromDate" class="form-control"
                   min="1000-01-01T00:00"
                   max="3000-12-31T23:59">
        </div>
        <div class="form-group">
            <label for="toDate">To</label>
            <input type="datetime-local" id="toDate" name="toDate" class="form-control"
                   min="1000-01-01T00:00"
                   max="3000-12-31T23:59">
        </div>
        <div class="form-group">
            <label for="title" hidden></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Event title">
        </div>
        <div class="form-group">
            <label for="description" hidden></label>
            <textarea class="form-control" id="description" name="description" placeholder="Event description"
                      rows="3"></textarea>
        </div>
    </div>
</div>

<div th:fragment="fr-edit-event">
    <div>
        <div class="form-group">
            <label for="fromDate">From <span class="text-muted" th:text="${#temporals.format(event.fromDate, 'MM/dd/yyyy hh:mm')}"></span></label>
            <input type="datetime-local" id="fromDate" name="fromDate" class="form-control"
                   min="1000-01-01T00:00"
                   max="3000-12-31T23:59">
        </div>
        <div class="form-group">
            <label for="toDate">To <span class="text-muted"
                                         th:text="${#temporals.format(event.toDate, 'MM/dd/yyyy HH:mm')}"></span></label>
            <input type="datetime-local" id="toDate" name="toDate" class="form-control"
                   min="1000-01-01T00:00"
                   max="3000-12-31T23:59">
        </div>
        <div class="form-group">
            <label for="title" hidden></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Event title"
                   th:value="${event.title}">
        </div>
        <div class="form-group">
            <label for="description" hidden></label>
            <textarea class="form-control" id="description" name="description" placeholder="Event description"
                      rows="3" th:text="${event.description}"></textarea>
        </div>
    </div>
</div>
</body>