.list-group-item {
    cursor: pointer;
}

.header {
    padding: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.content {
    grid-area: content;
}

.top-date {
    float: left;
    display: inline;
}
