#wrapped {
    border: 5px solid gray;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header  header  header" "sidebar content content";
}

.list-group-item {
    cursor: pointer;
}

.header {
    grid-area: header;
    background-color: darkgreen;
}

.content {
    grid-area: content;
}

.pagination {
    display: inline-flex;
}

.top-date {
    float: left;
    display: inline;
}
