#wrapped {
    border: 5px solid gray;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header  header  header" "sidebar content content";
}

.list-group-item {
    cursor: pointer;
}

.header {
    padding: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.login-block {
    align-content: end;
}

.content {
    grid-area: content;
}

.pagination {
    display: inline-flex;
}

.top-date {
    float: left;
    display: inline;
}
