<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Event info</title>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div class="w-100 alert alert-danger" role="alert" th:if="${event.deleted} ? hidden">
    Event is deleted
</div>
<div class="w-100 alert alert-danger" role="alert"
     th:with="meetingRoomAvailable = ${event.meetingRoom.enabled}"
     th:if="!meetingRoomAvailable ? hidden">
    Meeting room is unavailable
</div>
<nav class="navbar navbar-dark bg-primary">
    <div class="header">
        <div class="w-100">
            <a class="btn btn-dark h2"
               th:href="@{/}"
               style="margin-right: 10px"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Main page"><i class="fas fa-home"></i></a>
            <button class="btn btn-light h2" onclick="goBack()"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Go back">
                <i class="fas fa-chevron-left"></i>
            </button>
            <a class="btn btn-info h2"
               th:href="@{/meetroom/{roomId}(roomId = ${event.meetingRoom.id}, day=${#temporals.format(event.fromDate,'dd.MM.yyyy')})}"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Go to event's week">
                <i class="fas fa-table"></i>
            </a>
            <span class="h2 noselect">Event info</span>
        </div>
        <div style="display: inline-flex">
            <div style="display: inline-flex" sec:authorize="isAuthenticated()"
                 th:if="((${event.creator.username} == ${#authentication.getPrincipal().getUsername()})
                    or ${#authorization.expression('hasAnyAuthority(''EVENT:EDIT:OTHER'')')})
                    and ${event.deleted} != true">
                <button type="button" class="btn btn-outline-primary h2" data-toggle="modal"
                        data-target="#editEventModal">
                    Update
                </button>
                <button type="button" class="btn btn-outline-danger h2" data-toggle="modal"
                        data-target="#deleteEventModal">
                    Delete
                </button>
            </div>
            <div th:include="modal/modal-login :: fr-login"></div>
        </div>

    </div>
</nav>

<div>
    <div class="w-100" style="text-align: center">
        <span th:text="
                ${#temporals.format(event.fromDate,'dd.MM.yyyy HH:mm')}
                + ' - ' +
                ${#temporals.format(event.toDate,'dd.MM.yyyy HH:mm')}"
              class="h2"></span>
        <p class="h4" th:text="${event?.title}"></p>
        <p class="h5 text-muted" th:text="${event?.description}"></p>
    </div>
    <p class="h2">Where:</p>
    <p class="h4" th:text="${event.meetingRoom.name}"></p>
    <p class="h5" th:text="${event.meetingRoom.location}"></p>
    <br>
    <p class="h2">Organizer:</p>
    <a class="h4"
       th:text="|${event.creator.firstName} ${event.creator.lastName}|"
       th:href="@{/user/{username}(username = ${event.creator.username})}"></a>

</div>

<div th:include="modal/ui-modals :: modal-edit-event"></div>
<div th:include="modal/ui-modals :: modal-delete-event"></div>

<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>

</body>
</html>