<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Meeting rooms</title>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <link href="/css/pagination.css" th:href="@{/css/pagination.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="header">
        <div style="width: 100%; display: flex;">
            <div th:style="|height: 32px; width: 32px; background-image: url(@{/}images/applicationIcon.png); background-size: contain;|"></div>
            <span class="h2 noselect">Meeting rooms</span>
            <div style="display: flex; padding-left: 10px">
                <div sec:authorize="hasAnyAuthority('MEETING_ROOM:CREATE')">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                        +
                    </button>
                </div>
                <div sec:authorize="hasAnyAuthority('LIST_ROOMS:USE','MANAGE:USE')" class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/}">Show available rooms</a>
                        <a class="dropdown-item" th:href="@{/all}">Show all rooms</a>
                        <div sec:authorize="hasAnyAuthority('MANAGE:USE')">
                            <hr>
                            <a class="dropdown-item" th:href="@{/manage}">Management page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="modal/modal-login :: fr-login"></div>
    </div>
</nav>

<div class="card-list">
    <div class="card" style="min-width: 18rem; margin: 10px;" th:each="room : ${rooms.content}">
        <div class="card-body">
            <span th:if="${room.enabled != true}"
                  class="badge badge-danger noselect"
                  style="display: inherit"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="This room is disabled for this moment">disabled</span>

            <h5 class="card-title" th:text="${room.name}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${room.location}">Card subtitle</h6>
            <a th:href="@{/meetroom/{roomId}(roomId = ${room.id})}" class="card-link">Open</a>
        </div>
    </div>
</div>

<div th:with="page=${rooms}" th:include="modal/modal-pagination :: fr-pagination"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="create-meetroom-form" sec:authorize="isAuthenticated()" th:action="@{/meetroom}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add meeting room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="create-meet-room">
                        <div th:include="modal/modal-manage-meetingroom :: fr-create-meetroom"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="create-meetroom-form" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- todo use webjars-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>

<script th:src="@{/js/pagination-fix.js}"></script>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>