<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Meeting rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
    <link href="/css/pagination.css" th:href="@{/css/pagination.css}" rel="stylesheet">
</head>
<body>
<div class="header" style="display: flex">
    <div style="width: 100%; display: flex;">
        <h2>Available meeting rooms list</h2>
            <div sec:authorize="hasRole('ROLE_ADMIN')" style="display: flex; padding-left: 20px">
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+
                    </button>
                </div>
                <div class="dropdown" style="padding-left: 20px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/all}">Show all rooms</a>
                        <a class="dropdown-item" th:href="@{/}">Show available rooms</a>
                        <div sec:authorize="hasAnyAuthority('MANAGE:USE')">
                            <hr>
                            <a class="dropdown-item" th:href="@{/manage}">Management page</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="login-block">
        <div th:include="modal/modal-login :: fr-login"></div>
    </div>
</div>

<div class="card-list">
    <div class="card" style="min-width: 18rem; margin: 10px;" th:each="room : ${rooms.content}">
        <div class="card-body">
            <span th:class="|${room.enabled ? 'badge badge-primary' : 'badge badge-danger'}|"
                  th:text="${room.enabled ? 'enabled' : 'disabled'}"></span>
            <h5 class="card-title" th:text="${room.name}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${room.location}">Card subtitle</h6>
            <a th:href="@{'/' + ${room.id}}" class="card-link">Open</a>
        </div>
    </div>
</div>

<div th:with="page=${rooms}"
     th:if="${rooms.totalPages gt 1}"
     th:include="modal/modal-pagination :: fr-pagination"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="create-meetroom-form" sec:authorize="isAuthenticated()" th:action="@{/meetroom}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add meeting room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="create-meet-room">
                        <div th:include="modal/modal-manage-meetingroom :: fr-create-meetroom"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="create-meetroom-form" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script th:src="@{/js/pagination-fix.js}"></script>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>