<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Meeting rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="header">
    <h2>Available meeting rooms list</h2>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/user(username=${#authentication.getName()})}">
            <img th:src="@{images/account.png}"/>
        </a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
    </div>
</div>
<div th:each="room : ${rooms.content}">
    <a th:href="@{'/' + ${room.id}}">
        <div th:style="${room.enabled}? 'background-color: green;'" style="height: 250px; width: 300px;">
            <h2><p style="font-weight: bold" th:text="${room.name}"></p></h2>
            <p th:text="${room.location}"></p>
        </div>
    </a>
</div>

<div class="pagination" style="display: inline-flex">
    <div th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/(size=${rooms.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==rooms.number} ? active"></a>
        &nbsp;
    </div>
</div>
</body>
</html>