<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <link rel="shortcut icon"  href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body style="width: 500px; margin: 0 auto; padding: 20px">
<div th:if="${param.error}" class="alert alert-danger" role="alert" style="padding-bottom: 20px; text-align: center;">
    Invalid username or password.
</div>
<div th:if="${param.logout}" class="alert alert-primary" role="alert" style="padding-bottom: 20px; text-align: center;">
    <span>You have been logged out.</span>
</div>

<div sec:authorize="!isAuthenticated()">
    <div style="display: flex; padding-bottom: 20px">
        <div class="w-100">
            <span class="h2 noselect">Login</span>
        </div>
        <button class="btn btn-outline-secondary h2"
                style="margin-right: 10px"
                onclick="goBack()"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Go back">
            <i class="fas fa-chevron-left"></i>
        </button>
        <a class="btn btn-dark h2"
           th:href="@{/}"
           data-toggle="tooltip"
           data-placement="bottom"
           title="Main page"><i class="fas fa-home"></i></a>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" name="username"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" hidden></label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                   placeholder="Password">
        </div>
        <a th:href="@{/registration}" class="btn btn-secondary">Sign up</a>
        <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </form>
</div>


<div sec:authorize="isAuthenticated()" class="alert alert-primary" role="alert" style="text-align: center">
    <span>You are logged in.</span>
    <div style="padding-top: 10px">
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none"></form>
        <a th:href="@{/}" class="btn btn-primary">Main page</a>
        <input type="submit" class="btn btn-danger" value="Sign Out" form="logoutForm"/>
    </div>
</div>

<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>