<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <link rel="shortcut icon"  href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
</head>
<body style="width: 500px; margin: 0 auto; padding: 20px">
<div th:if="${param.error}" class="alert alert-danger" role="alert" style="padding-bottom: 20px; text-align: center;">
    Invalid username or password.
</div>
<div th:if="${param.logout}" class="alert alert-primary" role="alert" style="padding-bottom: 20px; text-align: center;">
    <span>You have been logged out.</span>
</div>

<div sec:authorize="!isAuthenticated()">
    <div>
        <span class="h2">Login</span>
        <a th:href="@{/}" class="btn btn-info" style="float: right">Main page</a>
    </div>
    <br><br>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" name="username"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" hidden></label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                   placeholder="Password">
        </div>
        <a th:href="@{/registration}" class="btn btn-secondary">Sign up</a>
        <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
    </form>
</div>


<div sec:authorize="isAuthenticated()" class="alert alert-primary" role="alert" style="text-align: center">
    <span>You are logged in.</span>
    <div style="padding-top: 10px">
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none"></form>
        <a th:href="@{/}" class="btn btn-primary">Main page</a>
        <input type="submit" class="btn btn-danger" value="Sign Out" form="logoutForm"/>
    </div>
</div>
</body>
</html>