<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Meeting rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
<div class="header" style="background-color: green; color: white; display: flex">
    <div style="width: 100%">
        <div>
            <a class="btn btn-info h1" th:href="@{/}"><i class="fas fa-chevron-left"></i></a>
            <a th:href="@{'/' + ${room.id}}" style="color: white"><span th:text="${room.name}" class="h3"></span></a>
            <span th:class="|${room.enabled ? 'badge badge-primary' : 'badge badge-danger'}|"
                  th:text="${room.enabled ? 'enabled' : 'disabled'}"></span>
            <p th:text="${room.location}" class="h6"></p>
        </div>

    </div>
    <div class="edit-meeting-room-block" sec:authorize="hasRole('ROLE_ADMIN')">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                style="margin-right: 20px">
            Edit
        </button>
    </div>
    <div class="login-block">
        <div th:include="modal/modal-login :: fr-login"></div>
    </div>
    <hr>
</div>

<div class="w-100" style="text-align: center; padding-top: 10px;">
    <div style="display: inline-flex;">
        <a class="btn btn-secondary"
           th:href="@{'/' + ${room.id}(day=${#temporals.format(prevWeek.fromDate,'dd.MM.yyyy')})}">previous week</a>

        <span style="padding-left: 20px; padding-right: 20px;">
            <span id="beginDay" class="h4" th:text="${#temporals.format(dateRange.fromDate, 'dd.MM.yyyy')}"></span>
            <span class="h4"> - </span>
            <span class="h4" th:text="${#temporals.format(dateRange.toDate, 'dd.MM.yyyy')}"></span>
        </span>

        <a class="btn btn-secondary"
           th:href="@{'/' + ${room.id}(day=${#temporals.format(nextWeek.toDate,'dd.MM.yyyy')})}">next week</a>
    </div>
</div>
<!--<div id="wrapped">

    <div>
        <div class="header top-date" th:each="event : ${events}">
            <div>
                <p>User reserved:
                <p th:text="|${event.user.firstName} ${event.user.lastName}|"></p>
                <p th:text="|${event.fromDate} - ${event.toDate}|"></p>
            </div>
        </div>
    </div>
</div>-->

----

<!--<div id="grid">-->
<!--    <div class="header top-date">-->
<!--        <span class="btn btn-danger" id="previous-week">이전 주</span>-->
<!--        <h4>날짜: <span id="today">2018-08-28</span></h4>-->
<!--        <span class="btn btn-danger" id="next-week">다음 주</span>-->
<!--    </div>-->

<!--    <div class="container sidebar">-->
<!--        <h2>회의실선택</h2>-->
<!--        <div id="meeting-room-list">-->
<!--            <ul class="list-group">-->
<!--                <li class="list-group-item"></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-meetingroom-modal" id="create-meetingroom">-->
<!--            회의실추가-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-reservation-modal" id="create-reservation">-->
<!--            예약하기-->
<!--        </button>-->
<!--    </div>-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="create-meetroom-form" sec:authorize="isAuthenticated()"
                  th:action="|@{/meetroom/edit/}${room.id}|" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit meeting room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="create-meet-room">
                        <div th:include="modal/modal-manage-meetingroom :: fr-edit-meetroom"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="create-meetroom-form" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
s
<div class="container content">
    <table class="table table-striped" id="timetable"></table>
</div>

<div th:include="modal/modal-reservation :: fr-reservation">heloo</div>
<div th:include="modal/modal-reservation-update :: fr-reservation-update">2</div>
<div th:include="modal/modal-meetingroom :: fr-meetingroom">3</div>
<!--    <input type="hidden" id="hidden-monday"/>-->
<!--</div>-->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


<script th:src="@{/js/reservation.js}"></script>
<script>
    $(document).ready(function () {
        drawToday();
        drawMeetingRoom();
        drawTimePanel();
    });
</script>
</body>
</html>