<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    <title>Email update submit page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
    <link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>

<div style="text-align: center">
    <span class="h2">You have submitted email update</span>
    <div style="padding-top: 10px" class="container">
        <div th:if="${!emailRequest.isOldEmailAddressActivated() && emailRequest.isNewEmailAddressActivated()}"
             class="alert alert-primary" role="alert">
            <span class="h2">You have to confirm e-mail update from old e-mail address</span>
        </div>

        <div th:if="${emailRequest.isOldEmailAddressActivated() && !emailRequest.isNewEmailAddressActivated()}"
             class="alert alert-primary" role="alert">
            <span class="h2">You have to confirm new e-mail address</span>
        </div>

        <div th:if="${emailRequest.isOldEmailAddressActivated() && emailRequest.isNewEmailAddressActivated()}"
             class="alert alert-success" role="alert">
            <span class="h2">You have successfully updated your e-mail address!</span>
        </div>
    </div>
    <a th:href="@{/}" class="btn btn-primary">Main page</a>
</div>


<!-- todo use webjars-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/requests/user/update-user-requests.js}"></script>
<script th:src="@{/js/requests/user/avatar-requests.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>