<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fr-currentUserEvents">
    <div style="text-align: center">
        <span class="h2">Current user events</span>
        <div id="current-events-content" style="padding-bottom: 10px">
            <span class="text-muted" id="no-current-events-message">No current events</span>
            <div id="current-events-block" style="display: none">
                <table id="current-user-events-table" class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Time spending</th>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--will be replaced-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextRoot = [[@{/}]];
        var user = [[${user}]];
        /*]]>*/

        $(document).ready(function () {
            getCurrentUserEvents(contextRoot, user.id, 'no-current-events-message', 'current-events-block', 'current-user-events-table');
        })
    </script>
</div>

<div th:fragment="fr-pastUserEvents">

</div>
</body>
</html>